* {background-color: olivedrab}

h1{
  font-size: 40px;
  font-style: normal;
  font-family: serif;
  padding: 1%;
  text-align: center;
}

body{
  font-family: serif;
  color:black;
  font-size: 20px;
}